In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

matplotlib.rcParams['font.family']='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

plt.rcParams["font.size"] = 15

In [2]:
sc = SparkContext('local')
sqlCtx = SQLContext( sc )

## 1. k.txt 에 있는 단어의 갯수를 구하시오.

In [3]:
k = sc.textFile('../data/data1/k.txt')

In [4]:
k.flatMap( lambda x: x.split() ).map( lambda x: (x,1) ).reduceByKey(lambda a,b: a+b ).sortBy(lambda v: v[1], ascending=False ).collect()

[('원내대표는', 7),
 ('질문에', 7),
 ('것은', 5),
 ('여야', 4),
 ('하는', 4),
 ('말했다.', 4),
 ('3당', 3),
 ('위해', 3),
 ('문', 3),
 ('이인영', 3),
 ('나경원', 3),
 ('오신환', 3),
 ('바른미래당', 3),
 ('회동을', 3),
 ('갖고', 3),
 ('국회정상화에', 3),
 ('민주당', 3),
 ('6월', 3),
 ('후보자', 3),
 ('국세청장', 3),
 ('기자들과', 3),
 ('만나', 3),
 ('전했다.', 3),
 ('게', 3),
 ('나', 3),
 ('대한', 3),
 ("것이냐'는", 3),
 ('국회에서', 3),
 ('생각한다"고', 3),
 ('문희상', 2),
 ('국회의장과', 2),
 ('교섭단체', 2),
 ('18일', 2),
 ('국회정상화를', 2),
 ('자유한국당,', 2),
 ('오후', 2),
 ('이', 2),
 ('합의할', 2),
 ('요청한', 2),
 ('것으로', 2),
 ('한국당이', 2),
 ('경우', 2),
 ('윤석열', 2),
 ('검찰총장', 2),
 ('김현준', 2),
 ('일정이', 2),
 ('제대로', 2),
 ('합의를', 2),
 ('이어', 2),
 ('묻는', 2),
 ('것', 2),
 ('후보자에', 2),
 ('한', 2),
 ('것이', 2),
 ('일부', 2),
 ('문제가', 2),
 ('그', 2),
 ('국회가', 2),
 ('있다.', 2),
 ('대해', 2),
 ('민주당이', 2),
 ('대승적', 2),
 ('오', 2),
 ('있는', 2),
 ('위한', 2),
 ('해야', 2),
 ('대표가', 1),
 ('머리를', 1),
 ('맞댔지만', 1),
 ('의미있는', 1),
 ('결론을', 1),
 ('내리지', 1),
 ('못했다.', 1),
 ('의장과', 1),
 ('더불어민주당,', 1),
 ('이날', 1),
 ('국회의장실에서', 1),
 ('국회정상화', 1),
 ('방안을', 1),
 ('논의했으나', 1),
 ('의사일정을', 1),
 ('잡는데', 1),
 ('실패했다.', 1),
 ('의장은', 1),
 ('자리에서', 1),
 ('원내대표에게', 1),
 ('조속한', 1),
 ('시일', 1),
 ('내에', 1),
 ('것을', 1),
 ('알려졌다.', 1),
 ('전날', 1),
 ('한국당을', 1),
 ('제외한', 1),
 ('바른미래당,', 1),
 ('민주평화당,', 1),
 ('정의당', 1),
 ('등', 1),
 ('야3당과', 1),
 ('소속', 1),
 ('의원들을', 1),
 ('합해', 1),
 ('98명이', 1),
 ('임시국회', 1),
 ('소집요구서를', 1),
 ('제출,', 1),
 ('임시국회가', 1),
 ('반쪽으로', 1),
 ('출발하게', 1),
 ('됐지만,', 1),
 ('끝내', 1),
 ('국회로', 1),
 ('복귀하지', 1),
 ('않을', 1),
 ('임시국회도', 1),
 ('난항이', 1),
 ('예상된다.', 1),
 ('더욱이', 1),
 ('추가경정예산안을', 1),
 ('비롯해', 1),
 ('인사청문회,', 1),
 ('인사청문회등', 1),
 ('굵직한', 1),
 ('남아있지만', 1),
 ('한국당의', 1),
 ('협조', 1),
 ('없이는', 1),
 ('이들', 1),
 ('진행되기', 1),
 ('어려워', 1),
 ('일각에서는', 1),
 ('임시국회만', 1),
 ('소집해놓고', 1),
 ('허송세월', 1),
 ('하는게', 1),
 ('아니냐', 1),
 ('우려의', 1),
 ('목소리가', 1),
 ('나온다.', 1),
 ('회동', 1),
 ('직후', 1),
 ("'의사일정에", 1),
 ("했느냐'는", 1),
 ('기자들의', 1),
 ('"안됐다"면서', 1),
 ('"의장님께서', 1),
 ('합의하라고', 1),
 ('말씀을', 1),
 ('하셨는데', 1),
 ('이견이', 1),
 ('아직', 1),
 ('해소될', 1),
 ('상황이', 1),
 ('아니다"고', 1),
 ('다음', 1),
 ('질문에도', 1),
 ('"아직은', 1),
 ('모르겠다"고', 1),
 ('한국당', 1),
 ('원내대표도', 1),
 ("'회동에서", 1),
 ("있느냐'는", 1),
 ('"오늘은', 1),
 ('특별히', 1),
 ('말씀드린', 1),
 ('없는', 1),
 ('같다"고', 1),
 ('답했다.', 1),
 ('특히', 1),
 ("'기획재정위원회에서", 1),
 ('인사청문회', 1),
 ('개최에', 1),
 ('응하겠다는', 1),
 ("이야기냐'는", 1),
 ('"최종적으로', 1),
 ('아닌데', 1),
 ('소통에', 1),
 ('있었던', 1),
 ('같다"며', 1),
 ('"청문회', 1),
 ('부분은', 1),
 ('적극적으로', 1),
 ('들여다보고', 1),
 ('있다"고', 1),
 ('그는', 1),
 ("'소통의", 1),
 ('있다는', 1),
 ('청문회가', 1),
 ('확정되지', 1),
 ('않았다는', 1),
 ('"네.', 1),
 ('저도', 1),
 ('조금', 1),
 ('더', 1),
 ('확인해보겠다"고', 1),
 ('했다.', 1),
 ('앞서', 1),
 ('국회', 1),
 ('기재위', 1),
 ('여당', 1),
 ('간사인', 1),
 ('김정우', 1),
 ('의원이', 1),
 ('자유한국당을', 1),
 ('포함한', 1),
 ('간사가', 1),
 ('합의에', 1),
 ('김', 1),
 ('인사청문회를', 1),
 ('오는', 1),
 ('26일', 1),
 ('실시하기로', 1),
 ('합의했다고', 1),
 ('밝혔지만', 1),
 ('원내대표에', 1),
 ('따르면', 1),
 ('일정도', 1),
 ('확정이', 1),
 ('안된', 1),
 ('보인다.', 1),
 ('다만', 1),
 ("'국회", 1),
 ('소집요구가', 1),
 ('20일인데', 1),
 ('전에', 1),
 ('의사일정에', 1),
 ('"국회를', 1),
 ('정상국회로', 1),
 ('만들고,', 1),
 ('정말', 1),
 ('대한민국의', 1),
 ('미래,', 1),
 ('경제와', 1),
 ('민생을', 1),
 ('살리는', 1),
 ('되기', 1),
 ('계속', 1),
 ('노력하겠다"고', 1),
 ('원내대표들이', 1),
 ('서울', 1),
 ('여의도', 1),
 ('왼쪽부터', 1),
 ('더불어민주당', 1),
 ('원내대표,', 1),
 ('의장,', 1),
 ('원내대표.', 1),
 ('2019.6.18/뉴스1', 1),
 ('©', 1),
 ('News1', 1),
 ('임세영', 1),
 ('기자', 1),
 ('"집권여당은', 1),
 ('국정운영에', 1),
 ('무한', 1),
 ('책임을', 1),
 ('지고', 1),
 ('부분에', 1),
 ('된', 1),
 ('결단을', 1),
 ('내려주길', 1),
 ('바라고,', 1),
 ('한국당은', 1),
 ('조건없는', 1),
 ('참여하기를', 1),
 ('바라는', 1),
 ('마음"이라고', 1),
 ('밝혔다.', 1),
 ("'여당의", 1),
 ('결단이라고', 1),
 ('함은', 1),
 ('경제청문회를', 1),
 ('받아줘야', 1),
 ('한다는', 1),
 ('"집권여당으로서', 1),
 ('포용하고', 1),
 ('양보하는', 1),
 ('숙명이라고', 1),
 ('생각한다"며', 1),
 ('"야당이', 1),
 ('경제문제에', 1),
 ('문제제기를', 1),
 ('당연한', 1),
 ('아니냐.', 1),
 ('청문회건', 1),
 ('어떤', 1),
 ('형태가', 1),
 ('되건', 1),
 ('정부를', 1),
 ('상대로', 1),
 ('할', 1),
 ('수', 1),
 ('이야기', 1),
 ('자체를', 1),
 ('차단하고', 1),
 ('못하게', 1),
 ('올지', 1),
 ('않다고', 1),
 ('위원장인', 1),
 ('상임위의', 1),
 ('여당이', 1),
 ('사회권을', 1),
 ('발동하는', 1),
 ('것에', 1),
 ('바른미래당의', 1),
 ('동참', 1),
 ('여부를', 1),
 ('"그런', 1),
 ('행동', 1),
 ('자체가', 1),
 ('무책임하다고', 1),
 ('본다"며', 1),
 ('"그것이', 1),
 ('과연', 1),
 ('국회를', 1),
 ('정상적으로', 1),
 ('운영하기', 1),
 ('마음을', 1),
 ('것인지,', 1),
 ('장기적으로', 1),
 ('추경을', 1),
 ('처리하고', 1),
 ('상임위', 1),
 ('내에서', 1),
 ('법안을', 1),
 ('심사하고', 1),
 ('국민을', 1),
 ('국회활동이', 1),
 ('될', 1),
 ('것인지에', 1),
 ('판단을', 1),
 ('한다고', 1),
 ('인사청문회와', 1),
 ('관련', 1),
 ('"인사청문회는', 1),
 ('당연히', 1),
 ('절차에', 1),
 ('따라', 1),
 ('것"이라며', 1),
 ('"윤', 1),
 ('후보자가', 1),
 ('적임자인지', 1),
 ('여부는', 1),
 ('국민의', 1),
 ('눈높이에', 1),
 ('맞게', 1),
 ('합리적인', 1),
 ('인사청문', 1),
 ('절차를', 1),
 ('밟아가는', 1),
 ('마땅하다고', 1)]

## 2. births.txt 파일을 이용하여 구하시오

In [5]:
birth = sc.textFile('../data/data1/births.txt')

In [6]:
births = birth.map( lambda v: v.split(','))
births.collect()

[['1880', ' 90993', ' 110491'],
 ['1881', ' 91954', ' 100745'],
 ['1882', ' 107850', ' 113688'],
 ['1883', ' 112321', ' 104629'],
 ['1884', ' 129022', ' 114445'],
 ['1885', ' 133055', ' 107800'],
 ['1886', ' 144535', ' 110784'],
 ['1887', ' 145982', ' 101414'],
 ['1888', ' 178627', ' 120853'],
 ['1889', ' 178366', ' 110584'],
 ['1890', ' 190377', ' 111025'],
 ['1891', ' 185482', ' 101196'],
 ['1892', ' 212346', ' 122037'],
 ['1893', ' 212906', ' 112317'],
 ['1894', ' 222922', ' 115772'],
 ['1895', ' 233630', ' 117398'],
 ['1896', ' 237920', ' 119570'],
 ['1897', ' 234202', ' 112758'],
 ['1898', ' 258770', ' 122693'],
 ['1899', ' 233023', ' 106212'],
 ['1900', ' 299828', ' 150499'],
 ['1901', ' 239348', ' 106471'],
 ['1902', ' 264077', ' 122659'],
 ['1903', ' 261973', ' 119234'],
 ['1904', ' 275371', ' 128125'],
 ['1905', ' 291629', ' 132319'],
 ['1906', ' 295303', ' 133159'],
 ['1907', ' 318566', ' 146833'],
 ['1908', ' 334313', ' 154344'],
 ['1909', ' 347228', ' 163999'],
 ['1910', ' 396501', ' 194218'],
 ['1911', ' 418299', ' 225968'],
 ['1912', ' 558103', ' 429945'],
 ['1913', ' 624518', ' 512557'],
 ['1914', ' 761548', ' 654762'],
 ['1915', ' 983874', ' 848603'],
 ['1916', ' 1044323', ' 890099'],
 ['1917', ' 1081280', ' 925511'],
 ['1918', ' 1157647', ' 1013537'],
 ['1919', ' 1130145', ' 980149'],
 ['1920', ' 1198283', ' 1064463'],
 ['1921', ' 1232999', ' 1101457'],
 ['1922', ' 1200919', ' 1088287'],
 ['1923', ' 1206330', ' 1096168'],
 ['1924', ' 1248876', ' 1132751'],
 ['1925', ' 1217352', ' 1115958'],
 ['1926', ' 1185304', ' 1110505'],
 ['1927', ' 1192330', ' 1126717'],
 ['1928', ' 1153117', ' 1107518'],
 ['1929', ' 1116422', ' 1075313'],
 ['1930', ' 1125761', ' 1097176'],
 ['1931', ' 1064497', ' 1039127'],
 ['1932', ' 1066994', ' 1043808'],
 ['1933', ' 1007710', ' 991127'],
 ['1934', ' 1044039', ' 1032291'],
 ['1935', ' 1048428', ' 1040930'],
 ['1936', ' 1040202', ' 1036974'],
 ['1937', ' 1063872', ' 1066309'],
 ['1938', ' 1103277', ' 1108841'],
 ['1939', ' 1096518', ' 1106544'],
 ['1940', ' 1143325', ' 1158900'],
 ['1941', ' 1207919', ' 1227941'],
 ['1942', ' 1350545', ' 1380774'],
 ['1943', ' 1395082', ' 1426846'],
 ['1944', ' 1327104', ' 1362555'],
 ['1945', ' 1307028', ' 1345610'],
 ['1946', ' 1571184', ' 1623650'],
 ['1947', ' 1772644', ' 1829223'],
 ['1948', ' 1697814', ' 1754469'],
 ['1949', ' 1710825', ' 1773725'],
 ['1950', ' 1713180', ' 1790673'],
 ['1951', ' 1800042', ' 1881080'],
 ['1952', ' 1854698', ' 1944277'],
 ['1953', ' 1880326', ' 1969777'],
 ['1954', ' 1941682', ' 2037374'],
 ['1955', ' 1954664', ' 2057918'],
 ['1956', ' 2007512', ' 2113694'],
 ['1957', ' 2044160', ' 2155866'],
 ['1958', ' 2010884', ' 2120712'],
 ['1959', ' 2023044', ' 2133509'],
 ['1960', ' 2022093', ' 2132717'],
 ['1961', ' 2017316', ' 2122502'],
 ['1962', ' 1966548', ' 2068945'],
 ['1963', ' 1927217', ' 2031755'],
 ['1964', ' 1894594', ' 1993270'],
 ['1965', ' 1765001', ' 1861378'],
 ['1966', ' 1691868', ' 1783964'],
 ['1967', ' 1650764', ' 1744527'],
 ['1968', ' 1640103', ' 1738928'],
 ['1969', ' 1686947', ' 1789732'],
 ['1970', ' 1748147', ' 1859594'],
 ['1971', ' 1663475', ' 1769201'],
 ['1972', ' 1521185', ' 1622666'],
 ['1973', ' 1458139', ' 1559338'],
 ['1974', ' 1467413', ' 1573105'],
 ['1975', ' 1457699', ' 1562207'],
 ['1976', ' 1465096', ' 1569904'],
 ['1977', ' 1532997', ' 1643684'],
 ['1978', ' 1531658', ' 1642250'],
 ['1979', ' 1605051', ' 1721947'],
 ['1980', ' 1659933', ' 1783876'],
 ['1981', ' 1667465', ' 1790907'],
 ['1982', ' 1692678', ' 1813970'],
 ['1983', ' 1670061', ' 1791732'],
 ['1984', ' 1682973', ' 1803830'],
 ['1985', ' 1720036', ' 1847032'],
 ['1986', ' 1714664', ' 1840164'],
 ['1987', ' 1737891', ' 1865662'],
 ['1988', ' 1779839', ' 1912602'],
 ['1989', ' 1843105', ' 1999999'],
 ['1990', ' 1897709', ' 2052543'],
 ['1991', ' 1874434', ' 2019463'],
 ['1992', ' 1843304', ' 1996388'],
 ['1993', ' 1808379', ' 1960397'],
 ['1994', ' 1785074', ' 1931157'],
 ['1995', ' 1757927', ' 1902832'],
 ['1996', ' 1752249', ' 1893378'],
 ['1997', ' 1739806', ' 1884122'],
 ['1998', ' 1765915', ' 1910250'],
 ['1999', ' 1772632', ' 1918809'],
 ['2000', ' 1814601', ' 1962406'],
 ['2001', ' 1799049', ' 1941251'],
 ['2002', ' 1795206', ' 1939815'],
 ['2003', ' 1825359', ' 1973434'],
 ['2004', ' 1834145', ' 1982794'],
 ['2005', ' 1845379', ' 1994841'],
 ['2006', ' 1898463', ' 2052377'],
 ['2007', ' 1919408', ' 2072139'],
 ['2008', ' 1887234', ' 2036289'],
 ['2009', ' 1832925', ' 1979303'],
 ['2010', ' 1772738', ' 1913851'],
 ['2011', ' 1753500', ' 1893230']]

In [7]:
man_birth_data = births.map(lambda v:float(v[1]))
girl_birth_data = births.map(lambda v:float(v[2]))

### 1) 남아수의 합과 평균을 구하시오

In [8]:
round(man_birth_data.sum(),2), round(man_birth_data.mean(),2)

(161802441.0, 1225776.07)

### 2) 여아수의 합과 평균을 구하시오

In [9]:
round(girl_birth_data.sum(),2), round(girl_birth_data.mean(),2)

(164392696.0, 1245399.21)

### 3) 남아수가 높은 탑 5를 구하시오

In [10]:
births.sortBy(lambda v : v[1], ascending=False).take(5)

[['1915', ' 983874', ' 848603'],
 ['1881', ' 91954', ' 100745'],
 ['1880', ' 90993', ' 110491'],
 ['1914', ' 761548', ' 654762'],
 ['1913', ' 624518', ' 512557']]

### 4) 전체 남아수의 비율을 구하시요.

In [11]:
mans= births.map(lambda v: int(v[1])).sum()
man_girls = births.map(lambda v: int(v[1])+ int(v[2])).sum()

In [12]:
round(mans/man_girls,3)

0.496

### 5) 여아수를 10등분 했을때 각계급의 수를 구하시요

In [15]:
girl_birth_data1 = girl_birth_data.collect() 
pd.cut(girl_birth_data1,10).value_counts()

(98689.879, 306257.1]     32
(306257.1, 511769.2]       1
(511769.2, 717281.3]       2
(717281.3, 922793.4]       2
(922793.4, 1128305.5]     22
(1128305.5, 1333817.6]     3
(1333817.6, 1539329.7]     4
(1539329.7, 1744841.8]    11
(1744841.8, 1950353.9]    30
(1950353.9, 2155866.0]    25
dtype: int64

In [18]:
a, b= girl_birth_data.histogram([girl_birth_data.min() , 
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10),
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*2,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*3,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*4,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*5,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*6,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*7,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*8,
                           girl_birth_data.min() + ((girl_birth_data.max() - girl_birth_data.min())/10)*9,
                           girl_birth_data.max()])

print(b)

[100745.0, 306257.1, 511769.2, 717281.3, 922793.4, 1128305.5, 1333817.6, 1539329.7, 1744841.8, 1950353.9000000001, 2155866.0]
[32, 1, 2, 2, 22, 3, 4, 11, 30, 25]

## CCTV 문제

In [ ]:
cctvDF = sqlCtx.read.csv('../data/data1/CCTV_in_Seoul.csv', header=True,
                        inferSchema = True)
cctvDF

In [ ]:
cctvDF.show()

In [ ]:
cctvDF.createOrReplaceTempView('cctv')

### 1. 기관명이 '강'글자가 포함된  데이터를 가져오시요

In [ ]:
sql = "select * from cctv where `기관명` like '%강%'" 
cctvDF = sqlCtx.sql(sql) 
cctvDF.show()

### 2. 기관명, cctv증가율 을 출력하시요.
- 증가율:  (14+15+16)/(2013년이전 )

In [ ]:
sql= """select 
            `기관명`,
            round((`2014년`+`2015년`+`2016년`)/`2013년도 이전`,2) as `증가율`
        from cctv
            order by `증가율` desc"""
sqlDF = sqlCtx.sql(sql)
sqlDF.show()

### 3. 증가율이 가장높은 top 5를 보여주시요

In [ ]:
sql= """select 
            `기관명`,
            round((`2014년`+`2015년`+`2016년`)/`2013년도 이전`,2) as `증가율`
        from cctv
            order by `증가율` desc
            limit 5"""
sqlDF = sqlCtx.sql(sql)
sqlDF.show()

### 4. 기관이라는 컬럼을 만들고 기관명에서 마지막 '구'라는 글자를 제한 글자로 데이터를 구성하시요
- (예)강남,강동,강북....

In [ ]:
sql = "select * , replace(`기관명`,'구','') as `기관` from cctv" 
cctvDF = sqlCtx.sql(sql) 
cctvDF.show()

### 5. 2015년도 cctv 총합을 구하시요.

In [ ]:
sql = "select sum(`2015년`) as `2015년 cctv 총합` from cctv "
sqlDF = sqlCtx.sql(sql)
sqlDF.show()

### 6. 2014년도 2015년도 cctv데이터에 대한 바차트를 그리시요(x축 기관명임)

In [ ]:
# 필요한 데이터만 추출
sql= """select 
            `기관명`,
            `2014년`, 
            `2015년`
        from cctv """
cctv_DF_1415 = sqlCtx.sql(sql)
cctv_DF_1415.show()

In [ ]:
# 판다스 데이터프레임으로 변경
cctv_DF_1415 =cctv_DF_1415.toPandas()

In [ ]:
# 기관명을 인덱스로 설정
cctv_DF_1415.set_index('기관명', inplace=True)

In [ ]:
cctv_DF_1415.plot(kind='bar', figsize=(20,16), rot=90,legend= None)

### 7. cctv가 가장많은 기관명과 갯수를 구하시요

In [ ]:
sql= """select `기관명`,`소계`
        from cctv
        order by `소계` desc
        limit 1"""
sqlDF = sqlCtx.sql(sql)
sqlDF.show()

### 8. 현황이라는 컬럼을 추가하고 cctv총갯수가 1500개 이상이면 '매우많음' 1000개이상이면 '많음' 나머지 보통으로 표시하시요

In [ ]:
sql= """select `기관명`,`소계`,
        case 
            when `소계` >= 1500 then '매우많음'
            when `소계` >= 1000 then '많음'
            else '보통'
        end as `현황`
        from cctv
        order by `소계` desc"""
sqlDF = sqlCtx.sql(sql)
sqlDF.show()

## grade 문제

In [ ]:
gradeDF = sqlCtx.read.csv('../data/data1/grade.csv', header=True,
                        inferSchema = True)
gradeDF

In [ ]:
gradeDF.createOrReplaceTempView('grade')

In [ ]:
gradeDF.show()

### 1. 학년별 과목별 중간,기말 총합과 평균을 구하시요

In [ ]:
sql = '''select
            `학년`,
            `과목`,
            sum(`중간`) as `중간총합`,
            avg(`중간`) as `중간평균`,
            sum(`기말`) as `기말총합`,
            avg(`기말`) as `기말평균`
        from grade
            group by `학년`,`과목`
            order by `학년`'''
sqlDF = sqlCtx.sql( sql )
sqlDF.show()

### 2. 학년별 중간고사 평균이 70점이상인 값을 구하시요.

In [ ]:
# 학년별 중간고사 평균 출력
sql = '''select
            `학년`,
            avg(`중간`) as `중간평균`
        from grade
            group by `학년`
            order by `학년`'''
sqlDF = sqlCtx.sql( sql )
sqlDF.show()

In [ ]:
# 평균 70점 이상값 출력
sql = '''select
            `학년`,
            avg(`중간`) as `중간평균`
        from grade
            group by `학년`
            having avg(`중간`) >=70
            order by `학년`'''
sqlDF = sqlCtx.sql( sql )
sqlDF.show()

In [ ]:
sc.stop()